<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICatalogosMantenimientos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20191/CatalogosMantenimientos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogosMantenimientos"
                contract="SVC_CatalogosMantenimientos.ICatalogosMantenimientos"
                name="BasicHttpBinding_ICatalogosMantenimientos" />
        </client>
    </system.serviceModel>
</configuration>